annotated-types
blis
brotlipy
catalogue
certifi
cffi
charset-normalizer
click
cloudpathlib
colorama
confection
contourpy
cryptography
cycler
cymem
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
filelock
fonttools
gmpy2
huggingface-hub
idna
Jinja2
joblib
kiwisolver
langcodes
MarkupSafe
matplotlib
mkl-fft
mkl-random
mkl-service
mpmath
murmurhash
networkx
nltk
numpy
packaging
pandas
pathy
patsy
Pillow
preshed
pycparser
pydantic
pydantic_core
pyOpenSSL
pyparsing
PySocks
python-dateutil
pytz
PyYAML
regex
requests
scikit-learn
scipy
seaborn
shellingham
six
smart-open
spacy
spacy-legacy
spacy-loggers
srsly
statsmodels
sympy
thinc
threadpoolctl
tokenizers
tqdm
transformers==4.26.1
triton
typer
typing_extensions
urllib3
wasabi
weasel
nvidia-cublas-cu11
nvidia-cuda-nvrtc-cu11
nvidia-cuda-runtime-cu11
nvidia-cudnn-cu11
torch
torchaudio
torchvision
